@model EDeviceClaims.WebUi.Models.DeviceViewModel

@{
    ViewBag.Title = "Device Details";
}

<div class="row">
    <div class="col-md-12">
        <h2>File a Claim</h2>


        <div class="col-md-12" style="margin-bottom:20px">
            <div class="col-md-4">
                @if (Model.Name == "iPhone 6+")
                {
                    <img src="https://sc01.alicdn.com/kf/HTB1dBcZFFXXXXcAXpXXq6xXFXXX4/200855197/HTB1dBcZFFXXXXcAXpXXq6xXFXXX4.jpg" width="350" alt="IPhone" />
                }
                @if (Model.Name == "Android")
                {
                    <img src="https://cdn.shopify.com/s/files/1/0808/0067/products/s7_edge_rugged_armor_title_f2701768-857d-4bb2-99d1-ceb484b5a017_large.jpg?v=1456440500" width="350" alt="Android" />
                }
                @if (Model.Name == "Null")
                {
                    <img src="http://intraweb.stockton.edu/eyos/sobl/content/images/msw%20faculty/noimage.gif" width="350" alt="no image" />
                }

            </div>
            <div class="col-md-6" style="margin-top: 20px">
                <ul style="list-style:none;">

                    <li>Product: @Model.Name</li>
                    <li>Serial Number: @Model.SerialNumber</li>
                    <li>Policy Number: @Model.PolicyNumber</li>
                    <li>Purchase Date: @Model.WhenCreated</li>
                    <!-- include only if a claim has been filed-->
                    @if (@Model.ShowViewClaimButton())
                    {
                        <li>Last Updated: @Model.WhenLastUpdated</li>
                    }
                    
                    <!--end include only if a claim has been filed-->
                </ul>
            </div>
            <div class="col-md-2" style="margin-top:200px">
                
                @if (Model.ShowViewClaimButton())
                {
                    @Html.ActionLink("Check Claim Status", "Details", "Claims", routeValues: new { id = Model.PolicyId }, htmlAttributes: new { @class = "btn btn-warning btn-sm" })
                }
                else
                {
                    @Html.ActionLink("Submit a Claim", "Start", "Claims", routeValues: new { id = Model.PolicyId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                }

            </div>

        </div>



        <!--<p><a class="btn btn-default" href="/Home/Index">File A Claim &raquo;</a></p>-->
    </div>
</div>



